

/**
*
*   ELECCIONES
*
*/

div.section {
    padding: 30px;
}

.colecciones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.coleccion {
    position: relative;
    background-color: white;
    height: 500px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px 8px -1px #4B6587;
}

.img {
    max-width:100%;
    max-height:100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    pointer-events: none;
}

.descripcion {
    padding: 20px;
}

.boton {
    position: absolute;
    bottom: 20px
}

.boton_style {
    height: 45px;
    width: 310px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    background-color: #C8C6C6;
    color: black;
    cursor: pointer;
    box-shadow: 1.5px 1.5px 8px -1px #4B6587;
    margin-top: 10px;
}

.boton_style:hover{
    background-color: black;
    color: #C8C6C6;    
    box-shadow: 1.5px 1.5px 8px -1px #C8C6C6;
}

.boton_style:disabled{
    opacity: 0.3;
    pointer-events: none;
}

/**
*
*   FOOTER
*
*/

div.footer {
    background-color: #F0E5CF;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-info-container{
    margin-right: 70px;
    max-width: 600px;
    text-align: left;
}